.card {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid #ccc; */
  box-shadow: 2px 2px 0.5em rgba(97, 97, 97, 0.644);
  border-radius: 8px;
  padding: 16px;
}

.image-container {
  margin-right: 16px;
}

.round-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.content {
  flex-grow: 1;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.email,
.job-title {
  margin-bottom: 8px;
}

.actions {
  text-align: right;
}

.buttons-container {
  background-color: #fff;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  padding: 8px;
  display: flex;

  gap: 8px;
  margin-top: 5px;
  z-index: 100;
}
.icon-container {
  position: relative;
  display: inline-block;
}
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.delete {
  color: rgb(255, 29, 29);
}
